.list_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 500px;
}

.todo_hero_holder {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.todo_hero_holder span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: green;
    border-radius: 50%;

}

.todo_hero_holder h2, h3 {
    margin: 0px;
    gap: 20px;
}

.task_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item_holder {
    display: flex;
    width: 400px;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
    border-radius: 10px;
}

.item_text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.task_img {
    display: flex;
    padding-right: 5px;
    gap: 5px;
    cursor: pointer;
}

.task_img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.edit_item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.edit_input {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
}

.edit_save{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(235, 70, 70);
    cursor: pointer;
    color: white;
}